:root {
    --orange: #EA6D27;
    --background: rgb(255, 240, 224);
}

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background);
}

header {
    display: flex;
    padding: 16px;
    width: 1219px;
    justify-content: space-between;
}

#content {
    padding: 48px 0px;
    max-width: 1219px;
}

::selection {
    background-color: rgba(255, 186, 68, 0.918);
}

.flex {
    display: flex;
}

.images-div {
    position: relative;
}

#logo {
    width: 198px;
    height: 55px;
    position: relative;
    bottom: 18px;
}

button {
    font-family: inherit;
    font-size: inherit;
    border: none;
}

.link {
    background: none;
}

.link:hover {
    text-decoration: underline;
}

.book-btn {
    background-color: var(--orange);
    padding: 10px 20px;
    border-radius: 12px 2px;
    color: white;
}

.menu-button {
    background: none;
    background-color: black;
    padding: 10px 20px;
    border-radius: 12px 2px;
    color: white;
    margin-right: 24px;
}

#main-photo {
    width: 390px;
    height: auto;
}

#dish {
    width: 260px;
    position: absolute;
    bottom: 20px;
    right: 280px;
}

.home-text {
    padding-top: 4%;
}

h1 {
    font-size: 64px;
}

p {
    margin-bottom: 20px;
}

.menu-heading {
    font-size: 40px;
    margin-top: 0px;
    text-align: center;
}

.menu-items-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

.menu-item {
    border: 2px solid white;
    border-radius: 48px 4px;
    padding: 24px;
}

.menu-item:hover {
    background-color: rgba(255, 255, 255, 0.655);
}

.menu-item-img {
    display: block;
    margin: 0 auto;
}

h3 {
    text-align: center;
}

.menu-item-description {
    text-align: center;
    margin-bottom: 0px;
    font-size: 16px;
    color:rgb(46, 46, 46);
}

.about-heading {
    font-size: 40px;
    margin-top: 0px;
}

.about-us-div {
    width: 2700px;
}

dialog {
    position: fixed;
    top: 30%;
    left: 30%;
    transform: translate(-50%, -50%);
    width: 370px;
    background-color: var(--background);
    border-radius: 10px;
    border: none;
    box-shadow: 4px 4px 8px rgba(6, 1, 1, 0.4);
    padding: 30px;
    outline: none;
}

input {
    font-size: inherit;
    font-family: inherit;
    border: none;
    background-color: inherit;
    padding: 5px 0;
    margin: 10px;
    outline:#EA6D27;
}

button[type="submit"] {
    background-color: var(--orange);
    padding: 10px 20px;
    border-radius: 12px 2px;
    color: white;
}

input:focus {
    border-bottom: 1px solid var(--orange)
}