:root {
    --orange: #EA6D27;
}

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    padding: 16px;
    width: 1219px;
    justify-content: space-between;
}

#content {
    display: flex;
    gap: 64px;
    padding: 64px 0px;
    max-width: 1219px;
}

#logo {
    width: 198px;
    height: 55px;
    position: relative;
    bottom: 18px;
}

button {
    font-family: inherit;
    font-size: inherit;
    border: none;
}

.link {
    background: none;
}

.link:hover {
    text-decoration: underline;
}

.book-btn {
    background-color: var(--orange);
    padding: 10px 20px;
    border-radius: 12px 2px;
    color: white;
}

.menu-button {
    background: none;
    background-color: black;
    padding: 10px 20px;
    border-radius: 12px 2px;
    color: white;
    margin-right: 24px;
}

img[src="../src/img/main-photo.png"] {
    width: 390px;
    height: auto;
}

img[src="../src/img/dish.png"] {
    width: 260px;
    position: relative;
    left: -128px;
    top: -200px;
}

.home-text {
    padding-top: 4%;
}

h1 {
    font-size: 64px;
}